<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'main.js') }}" ></script>

    <title>Ürün Bulma</title>
</head>
<body>
<center><form action="results" method="GET" style="margin-top: 2%">
    Ürün İsmi = <input type = "text" name = "product-name" id = "input-text">
    <br>
    <br>
    <input type="submit" value="Ara" name="search-btn">
</form>
    <button onclick="button_post()">Try</button>
</center>
<div style="margin-top: 3%">
<div style="width: 45% ;float: left; display: inline-block;">
    <table id="example" class="display" style="display: inline-block;float: left;">
            <thead>
                <tr>
                </tr>
            </thead>
    </table>
</div>
<div style="width:45% ;float: right;  display: inline-block;">
    <table id="example2" class="display" style="display: inline-block;float: right;">
            <thead>
                <tr>
                </tr>
            </thead>
    </table>
</div>
</div>
</body>
</html>